
h2 {
  text-transform: uppercase;
  font-weight: lighter;
}

.hero {
  background-color: #eaeaea;
  text-align: center;
  padding: 50px;
}

a {
  text-decoration: none;
  color: #00C46A
}


.btn {
  display: inline-block;
  background-color: white;
  border: 1px solid lightgray;
  text-align: center;
  font-size: 13px;
  border-radius: 5px;
  min-width: 50px;
}

.btn-primary {
  background-color: #00C46A;
  color: white;
  padding: 5px 20px;
}

.btn-primary:hover {
  background-color: #27ae60;
}

.btn-xl {
  font-size: 20px;
  padding: 20px 60px;
}

.features {
  text-align: center;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.tutorial {
  text-align: center;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.tutorial > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.tutorial > ul > li {
  width: 250px;
}

.tutorial > ul > li > a {
  display: block;
}

.perks {
  display: flex;
  flex-wrap: wrap;
}
.perks > div{
  width: 20%;  
  height: 120px;  
}
.perks > div > p{
  max-width: 250px;
  margin: 0 auto;
}
.blue {
  background-color: #0E90D4;
}
.black {
  background-color: black;
}
.about {
  color: white;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;

  max-width: 1200px;
  margin: 0 auto;
}
.about > h2 {
  width: 100%;
  margin: 0;
}
.about > div {
  width: 50%;
  margin: 0; 
}
.about > div > p {
  max-width: 300px;
  margin: 20px auto;  
  margin-top: 0;
}
.share {
  text-align: center;
  color: white;
  padding: 50px;
}

.share > a {
  padding: 20px;
}

@media (max-width: 720px) {
  .features {
    padding: 10px;
  }
  .perks > div{
    width: 100%;  
    height: auto;  
  }
  .about > div {
    width: 100%;
    margin: 0; 
  }
  .btn-xl {
    font-size: 18px;
    padding: 20px 60px;
  }
  .share {
    padding: 20px;
  }
  .tutorial {    
    padding: 20px;    
  }
  
  .tutorial > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0px;
    flex-direction: column;
  }
  
  .tutorial > ul > li {
    display: block;
    width: 100%;
    padding: 10px 0;
  }

  .about {
    padding: 20px;
  }
}