html, body {
  padding: 0;
  margin: 0; 
  width: 100%;
  height: 100%;
  background-color: whitesmoke;  

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a {
  color: #0E90D4;
  text-decoration: none;
}